.c-link {
  color: #3072c4;
  text-decoration: none;
}
.c-link.-disabled {
  color: #808080 !important;
  cursor: default;
  text-decoration: none !important;
}
.c-link.-hover,
.c-link:hover {
  text-decoration: underline;
  border: none !important;
  margin: 0 !important;
}
.c-link.-focus,
.c-link:focus {
  display: inline-block;
  border: solid 2px #5199db;
  border-radius: 2px;
  margin: -2px;
  position: relative;
}
.c-link.-active,
.c-link:active {
  color: #044785;
  text-decoration: underline;
}
