@import "autofields.css";

.c-field {
    position: relative;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.3) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.3) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.3) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0.3) 96%, rgba(0,0,0,0.3) 100%);

    overflow: hidden;
    margin-bottom: -5px;

    padding: 1px;
    background-clip:content-box;

    left: -1px;

}
    .ie .c-field {
        top: 1px;
    }

    .c-field:before {
        content: '';
        position: absolute;
        bottom: 2px;
        right: 2px;
        left: 2px;
        top: 2px;
        background: #ffffff;
        box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
    }

    .c-field_content {
        display: block;
        width: 100%;
        padding: 0 6px;
        margin: 0 !important;
        border: none;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        line-height: 30px;
        height: 28px;

        outline: 0;
    }

        .c-field__align__right .c-field_content {
            text-align: right; 
        }

    .ie .c-field_content {
        top: -1px;
    }

.c-field:focus,
.-focus.c-field {
    //margin: -1px -1px -6px -1px;
    //border: solid 1px #5199db;
    background: #5199db;
    border-radius: 2px;
}

    .c-field:focus:before,
    .-focus.c-field:before {
        box-shadow: none;
    }

    .-focus .c-field_content {
    }

.-disabled.c-field {
    cursor: default;
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 100%) !important;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 100%) !important;
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 100%) !important;
    background-image: linear-gradient(to top, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 100%) !important;
}

    .-disabled.c-field:before {
        background: #f2f2f2 !important;
        box-shadow: none !important;
    }

    .-disabled .c-field_content {
        color: #808080 !important;
    }

/* icons */




.c-field__icon {

}

    .c-field__icon:after {
        content:'';
        position: absolute;
        background:#ffffff;
        width: 25px;
        top: 1px;
        bottom: 1px;
        left: 1px;

        //display: none;
    }

        .c-field__icon.c-field__icon__left,
        .c-field__icon.c-field__icon__left:before {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .c-field__icon.c-field__icon__right,
        .c-field__icon.c-field__icon__right:before {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

    .c-field__icon.-focus:after{
        display: none;
    }

.c-field__icon.-focus .c-button {
    background: rgba(0,0,0,0);
}

    .c-field__icon__left.-focus .c-button {
        background-image: -moz-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: -o-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: linear-gradient(to right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
    }

    /*.c-field__icon__left .c-button:not(.-focus),
    .c-field__icon__left .c-button.-disabled:not(.-focus),
    .c-field__icon__left.-focus .c-button:not(.-focus) {
        background: none !important;
        background-image: -moz-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: -o-linear-gradient(left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: linear-gradient(to right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%), linear-gradient(to bottom, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.2) 100%)  !important;
    }*/

    .c-field__icon__left .c-button,
    .c-field__icon__left .c-button:before {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .c-field__icon .c-button__icon .c-button_content:before {
        min-width: 10px;
    }

    .c-field__icon__right.-focus .c-button {
        background-image: -moz-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: -o-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
        background-image: linear-gradient(to left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%);
    }

    /*.c-field__icon__right .c-button:not(.-focus),
    .c-field__icon__right .c-button.-disabled:not(.-focus),
    .c-field__icon__right.-focus .c-button:not(.-focus) {
        background: none !important;
        background-image: -moz-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: -o-linear-gradient(right, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
        background-image: linear-gradient(to left, rgba(0,0,0,0.0) 0, rgba(0,0,0,0.0) 88%, rgba(0,0,0,0.15) 100%) !important;
    }*/

    .c-field__icon__right .c-button,
    .c-field__icon__right .c-button:before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.c-field__icon .c-button {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    z-index: 4;
}

/*.c-field__icon .c-button:not(.-focus){
    background: none;
}*/

    .c-field__icon .c-field_content {
        padding-left: 32px;
    }

.c-field__icon__right {
}

    .c-field__icon__right:after {
        right: 1px;
        left: auto;
    }

    .c-field__icon__right .c-button {
        left: auto;
        right: 1px;
    }

    .c-field__icon__right .c-field_content {
        padding-left: 6px;
        padding-right: 32px;
    }

/* placeholders */

    .c-field input::-webkit-input-placeholder {
        color: #a0a0a0;
    }
    .c-field input::-moz-placeholder {
        color: #a0a0a0;
        opacity: 1;
    }
    .c-field input:-ms-input-placeholder {
        color: #a0a0a0;
    }

    .c-field input:focus::-webkit-input-placeholder {
        background: none;
        color: transparent;
    }
    .c-field input:focus::-moz-placeholder {
        background: none;
        color: transparent;
    }
    .c-field input:focus:-ms-input-placeholder {
        background: none;
        color: transparent;
    }

    .c-field__placeholder .c-field_content {
        padding-left: 23px;
    }

        //.c-field__placeholder .c-field_content:focus {
            //padding-left: 6px;
        //}

    .c-field__placeholder:after {
        font-family: 'Icons';
        display: inline-block;
        min-width: 17px;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 6px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #a0a0a0;
        text-align: center;
    }

        //.c-field__placeholder.-focus:after {
            //display: none;
        //}

    .c-field__placeholder__search:after {
        content:'\E009';
    }


/* sizes */

.c-field__width__100pr {
    width: 100%;
}

@iterations: 500;
.loopingClass (@index, @class) when (@index > 49) {
	.c-field__width__@{class}px { 
        width: @index*1px; 
	}
	.loopingClass(@index - 5, @index - 5);
}
.loopingClass (0) {}
.loopingClass (@iterations, @iterations);


