/* direction */
.c-direction {
  display: inline-block;
  position: relative;
}
.c-direction__left {
  margin-left: 9px;
}
.c-direction__right {
  margin-right: 9px;
}
.c-direction__large .c-button_content {
  padding: 0 19px;
}
/*.c-direction__large.c-direction__left .c-button,
    .c-direction__large.c-direction__left .c-button:before {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .c-direction__large.c-direction__right .c-button,
    .c-direction__large.c-direction__right .c-button:before {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }*/
.c-direction__xlarge.c-direction__left .c-button,
.c-direction__xlarge.c-direction__left .c-button:before {
  border-top-left-radius: 3.1px;
  border-bottom-left-radius: 3.1px;
}
.c-direction__xlarge.c-direction__right .c-button,
.c-direction__xlarge.c-direction__right .c-button:before {
  border-top-right-radius: 3.1px;
  border-bottom-right-radius: 3.1px;
}
.c-direction:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  right: -12px;
  width: 28px;
  height: 28px;
  -moz-transform: scaleX(0.6) rotate(45deg);
  -ms-transform: scaleX(0.6) rotate(45deg);
  -o-transform: scaleX(0.6) rotate(45deg);
  -webkit-transform: scaleX(0.6) rotate(45deg);
  transform: scaleX(0.6) rotate(45deg);
  border-radius: 5px 3.1px 5px 3.1px;
  background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  z-index: 1;
}
.ie-lt10 .c-direction:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.c-direction__xlarge:after {
  width: 32px;
  height: 32px;
  right: -14px;
  border-radius: 7px 3.1px 7px 3.1px;
}
.c-direction.-focus:not(.-hover):after {
  border: solid 1px #5199db;
  top: 3px;
  right: -14px;
  border-radius: 6px 3.1px;
  background: #5199db;
}
.c-direction__left:after {
  left: -12px;
  right: auto;
}
.c-direction__left.c-direction__xlarge:after {
  left: -14px;
  right: auto;
}
.c-direction__left.-focus:not(.-hover):after {
  left: -14px;
  right: auto;
}
.c-direction__right .c-button:before {
  right: 0;
  border-right: none !important;
}
.c-direction__left .c-button:before {
  left: 0;
  border-left: none !important;
}
.c-direction:before {
  content: '';
  /*position: absolute;
            bottom: 2px;
            right: 2px;
            left: 2px;
            top: 2px;*/
  display: block;
  position: absolute;
  top: 5px;
  right: -11px;
  width: 26px;
  height: 26px;
  -moz-transform: scaleX(0.6) rotate(45deg);
  -ms-transform: scaleX(0.6) rotate(45deg);
  -o-transform: scaleX(0.6) rotate(45deg);
  -webkit-transform: scaleX(0.6) rotate(45deg);
  transform: scaleX(0.6) rotate(45deg);
  border-radius: 4px 2px 4px 2px;
  background-image: -moz-linear-gradient(top left, #fefefe 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top left, #fefefe 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top left, #fefefe 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom right, #fefefe 0, #ebebeb 100%);
  z-index: 2;
}
.c-direction__xlarge:before {
  top: 6px;
  height: 28px;
  width: 28px;
  right: -12px;
}
.c-direction__left:before {
  left: -11px;
  right: auto;
}
.c-direction__left.c-direction__xlarge:before {
  left: -12px;
}
.c-direction.-focus:before {
  right: -12px;
  border-radius: 3px 2px 6px 2px;
}
.c-direction__left.-focus:before {
  left: -12px;
  right: auto;
}
.ie-lt10 .c-direction:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRUZFRkUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjcpIiAvPgo8L3N2Zz4=);
}
.c-direction.-hover:after,
.c-direction:hover:after {
  border: none;
  margin: 0;
  border-radius: 5px 3.1px 5px 3.1px;
  background: none;
  background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.15) 92%, rgba(0, 0, 0, 0.33) 100%);
}
.c-direction.c-direction__xlarge.-hover:after,
.c-direction.c-direction__xlarge:hover:after {
  border-radius: 7px 3.1px 7px 3.1px;
}
.c-direction.-hover:before,
.c-direction:hover:before {
  background-image: -moz-linear-gradient(top left, #f2f2f2 0, #dedede 100%);
  background-image: -webkit-linear-gradient(top left, #f2f2f2 0, #dedede 100%);
  background-image: -o-linear-gradient(top left, #f2f2f2 0, #dedede 100%);
  background-image: linear-gradient(to bottom right, #f2f2f2 0, #dedede 100%);
  border: none;
}
.c-direction:active:after,
.c-direction.-active:hover:after,
.c-direction.-active.-hover:after,
.c-direction.-active:after {
  background-image: -moz-linear-gradient(bottom right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -webkit-linear-gradient(bottom right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2) 92%, rgba(0, 0, 0, 0.33) 100%);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2) 92%, rgba(0, 0, 0, 0.33) 100%);
}
.c-direction:active:before,
.c-direction.-active:hover:before,
.c-direction.-active.-hover:before,
.c-direction.-active:before {
  background: #d9d9d9;
}
.c-direction.-disabled:after {
  background: rgba(0, 0, 0, 0.15) !important;
}
.c-direction.-disabled:before {
  background: #f2f2f2 !important;
  box-shadow: none !important;
}
/* colored directions */
.c-direction.c-direction__colored__green:after {
  background-image: -moz-linear-gradient(top left, rgba(26, 103, 6, 0.7) 0, rgba(26, 103, 6, 0.7) 90%, rgba(26, 103, 6, 0.7) 92%, rgba(22, 80, 7, 0.8) 100%);
  background-image: -webkit-linear-gradient(top left, rgba(26, 103, 6, 0.7) 0, rgba(26, 103, 6, 0.7) 90%, rgba(26, 103, 6, 0.7) 92%, rgba(22, 80, 7, 0.8) 100%);
  background-image: -o-linear-gradient(top left, rgba(26, 103, 6, 0.7) 0, rgba(26, 103, 6, 0.7) 90%, rgba(26, 103, 6, 0.7) 92%, rgba(22, 80, 7, 0.8) 100%);
  background-image: linear-gradient(to bottom right, rgba(26, 103, 6, 0.7) 0, rgba(26, 103, 6, 0.7) 90%, rgba(26, 103, 6, 0.7) 92%, rgba(22, 80, 7, 0.8) 100%);
}
.c-direction.c-direction__colored__green:before {
  background-image: -moz-linear-gradient(top left, #4ba91d 0, #37910b 100%);
  background-image: -webkit-linear-gradient(top left, #4ba91d 0, #37910b 100%);
  background-image: -o-linear-gradient(top left, #4ba91d 0, #37910b 100%);
  background-image: linear-gradient(to bottom right, #4ba91d 0, #37910b 100%);
}
.c-direction.c-direction__colored__green.-hover:after,
.c-direction.c-direction__colored__green:hover:after {
  background-image: -moz-linear-gradient(top left, rgba(8, 73, 2, 0.7) 0, rgba(8, 73, 2, 0.7) 90%, rgba(8, 73, 2, 0.7) 92%, rgba(19, 71, 4, 0.8) 100%);
  background-image: -webkit-linear-gradient(top left, rgba(8, 73, 2, 0.7) 0, rgba(8, 73, 2, 0.7) 90%, rgba(8, 73, 2, 0.7) 92%, rgba(19, 71, 4, 0.8) 100%);
  background-image: -o-linear-gradient(top left, rgba(8, 73, 2, 0.7) 0, rgba(8, 73, 2, 0.7) 90%, rgba(8, 73, 2, 0.7) 92%, rgba(19, 71, 4, 0.8) 100%);
  background-image: linear-gradient(to bottom right, rgba(8, 73, 2, 0.7) 0, rgba(8, 73, 2, 0.7) 90%, rgba(8, 73, 2, 0.7) 92%, rgba(19, 71, 4, 0.8) 100%);
}
.c-direction.c-direction__colored__green.-hover:before,
.c-direction.c-direction__colored__green:hover:before {
  background-image: -moz-linear-gradient(top left, #3b8d13 0, #307e0a 100%);
  background-image: -webkit-linear-gradient(top left, #3b8d13 0, #307e0a 100%);
  background-image: -o-linear-gradient(top left, #3b8d13 0, #307e0a 100%);
  background-image: linear-gradient(to bottom right, #3b8d13 0, #307e0a 100%);
}
.c-direction.c-direction__colored__green:active:after,
.c-direction.c-direction__colored__green.-active:hover:after,
.c-direction.c-direction__colored__green.-active.-hover:after,
.c-direction.c-direction__colored__green.-active:after {
  background-image: -moz-linear-gradient(bottom right, rgba(7, 57, 0, 0.7) 0, rgba(7, 57, 0, 0.7) 90%, rgba(7, 57, 0, 0.7) 92%, rgba(13, 40, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(bottom right, rgba(7, 57, 0, 0.7) 0, rgba(7, 57, 0, 0.7) 90%, rgba(7, 57, 0, 0.7) 92%, rgba(13, 40, 0, 0.8) 100%);
  background-image: -o-linear-gradient(bottom right, rgba(7, 57, 0, 0.7) 0, rgba(7, 57, 0, 0.7) 90%, rgba(7, 57, 0, 0.7) 92%, rgba(13, 40, 0, 0.8) 100%);
  background-image: linear-gradient(to top left, rgba(7, 57, 0, 0.7) 0, rgba(7, 57, 0, 0.7) 90%, rgba(7, 57, 0, 0.7) 92%, rgba(13, 40, 0, 0.8) 100%);
}
.c-direction.c-direction__colored__green:active:before,
.c-direction.c-direction__colored__green.-active:hover:before,
.c-direction.c-direction__colored__green.-active.-hover:before,
.c-direction.c-direction__colored__green.-active:before {
  background: #35840e;
}
