.t-button {
  display: none;
  position: relative;
  color: #404040;
  padding: 0;
  outline: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*background-image: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0.15) 92%, rgba(0,0,0,0.33) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0.15) 92%, rgba(0,0,0,0.33) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0.15) 92%, rgba(0,0,0,0.33) 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0.15) 92%, rgba(0,0,0,0.33) 100%);*/
  background-image: -moz-linear-gradient(top, #fefefe 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top, #fefefe 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top, #fefefe 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fefefe 0, #ebebeb 100%);
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.33);
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
  margin: -5px 0;
  height: 30px;
  box-sizing: border-box;
  background-clip: content-box;
  /*&:before {
        content: '';
        position: absolute;
        bottom: 1px;
        right: 1px;
        left: 1px;
        top: 1px;
        background-image: -moz-linear-gradient(top, #fefefe 0, #ebebeb 100%);
        background-image: -webkit-linear-gradient(top, #fefefe 0, #ebebeb 100%);
        background-image: -o-linear-gradient(top, #fefefe 0, #ebebeb 100%);
        background-image: linear-gradient(to bottom, #fefefe 0, #ebebeb 100%);
        border-radius: 1px;
        z-index: 2;


        &.t-button__large {
            border-radius: 2px;
        }
    }*/
}
.t-button.t-button__large {
  border-radius: 3.1px;
  line-height: 34px;
  margin: -8px 0;
  height: 36px;
  /*&.-focus {
            margin: -9px -1px;

            &:hover,
            &.-hover {
                margin: -8px 0;
            }
        }*/
}
.ff .t-button,
.ie .t-button {
  top: 1px;
}
.ie .t-button:before {
  margin: 0 -0.2px;
}
.ie .t-button.t-button__large:before {
  margin: 0 -0.4px;
}
.t-button.-disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.15) !important;
  color: #808080 !important;
}
.t-button.-disabled:before {
  background: #f2f2f2 !important;
  box-shadow: none !important;
}
.t-button.-disabled.-checked:before {
  background: #d9d9d9 !important;
}
.t-button_content {
  position: relative;
  display: block;
  padding: 0 6px;
  z-index: 3;
  font-size: 14px;
}
.t-button__large .t-button_content {
  padding: 0 14px;
}
.ff .t-button_content,
.ie:not(.ie-lt9) .t-button_content {
  top: -1px;
}
/* icons */
.t-button__icon {
  min-width: 26px;
}
.t-button__dropdown .t-button_content:after,
.t-button__reference .t-button_content:after,
.t-button__selector .t-button_content:after,
.t-button__icon .t-button_content:before {
  font-family: 'Icons';
  display: inline-block;
  min-width: 16px;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: -1px;
}
.ff .t-button__dropdown .t-button_content:after,
.ff .t-button__reference .t-button_content:after,
.ff .t-button__selector .t-button_content:after {
  top: 0;
}
.ff .t-button__icon .t-button_content:before {
  top: 0;
}
.ie .t-button__dropdown .t-button_content:after,
.ie .t-button__reference .t-button_content:after,
.ie .t-button__selector .t-button_content:after {
  top: 0;
}
.ie .t-button__icon .t-button_content:before {
  top: 0;
}
.t-button__dropdown .t-button_content:after,
.t-button__reference .t-button_content:after,
.t-button__selector .t-button_content:after {
  opacity: 0.5;
}
.t-button__dropdown.t-button__width .t-button_content:after,
.t-button__reference.t-button__width .t-button_content:after,
.t-button__selector.t-button__width .t-button_content:after {
  float: right;
}
.t-button__dropdown .t-button_content:after {
  top: 1px;
}
.t-button__dropdown.t-button__large .t-button_content:after,
.t-button__reference.t-button__large .t-button_content:after,
.t-button__selector.t-button__large .t-button_content:after {
  left: 8px;
}
/*.ff .t-button__dropdown.t-button__large .t-button_content:after,
            .ff .t-button__reference.t-button__large .t-button_content:after,
            .ff .t-button__selector.t-button__large .t-button_content:after,
            .ie .t-button__dropdown.t-button__large .t-button_content:after,
            .ie .t-button__reference.t-button__large .t-button_content:after,
            .ie .t-button__selector.t-button__large .t-button_content:after {
                line-height: 36px;
            }*/
.t-button__dropdown.-checked .t-button_content:after,
.t-button__reference.-checked .t-button_content:after,
.t-button__selector.-checked .t-button_content:after {
  opacity: 1;
}
/*.ff .t-button__large.t-button__icon .t-button_content:before,
            .ie .t-button__large.t-button__icon .t-button_content:before {
                line-height: 36px;
            }*/
.t-button__icon__print .t-button_content:before {
  content: '\E010';
}
.t-button__icon__add .t-button_content:before {
  content: '\E00D';
  min-width: 18px;
}
.t-button__reference .t-button_content:after,
.t-button__icon__reference .t-button_content:before {
  content: '\E019';
}
.t-button__icon__calendar .t-button_content:before {
  content: '\E023';
  left: 1px;
}
.t-button__dropdown .t-button_content:after,
.t-button__icon__dropdown .t-button_content:before {
  content: '\E04C';
}
.t-button__selector .t-button_content:after,
.t-button__icon__selector .t-button_content:before {
  content: '\E049';
}
.t-button__icon__left .t-button_content:before {
  min-width: 17px;
  content: '\E014';
  text-align: center !important;
}
/*.ff .t-button__icon__left .t-button_content:before,
        .ie:not(.ie-lt9) .t-button__icon__left .t-button_content:before {
            top: 1px;
        }*/
.t-button__icon__right .t-button_content:before {
  min-width: 17px;
  content: '\E013';
  text-align: center !important;
}
/*.ff .t-button__icon__right .t-button_content:before,
        .ie:not(.ie-lt9) .t-button__icon__right .t-button_content:before {
            top: 1px;
        }*/
/* sizes */
.t-button__width__100pr {
  width: 100%;
}
.t-button__width__500px {
  width: 500px;
}
.t-button__width__495px {
  width: 495px;
}
.t-button__width__490px {
  width: 490px;
}
.t-button__width__485px {
  width: 485px;
}
.t-button__width__480px {
  width: 480px;
}
.t-button__width__475px {
  width: 475px;
}
.t-button__width__470px {
  width: 470px;
}
.t-button__width__465px {
  width: 465px;
}
.t-button__width__460px {
  width: 460px;
}
.t-button__width__455px {
  width: 455px;
}
.t-button__width__450px {
  width: 450px;
}
.t-button__width__445px {
  width: 445px;
}
.t-button__width__440px {
  width: 440px;
}
.t-button__width__435px {
  width: 435px;
}
.t-button__width__430px {
  width: 430px;
}
.t-button__width__425px {
  width: 425px;
}
.t-button__width__420px {
  width: 420px;
}
.t-button__width__415px {
  width: 415px;
}
.t-button__width__410px {
  width: 410px;
}
.t-button__width__405px {
  width: 405px;
}
.t-button__width__400px {
  width: 400px;
}
.t-button__width__395px {
  width: 395px;
}
.t-button__width__390px {
  width: 390px;
}
.t-button__width__385px {
  width: 385px;
}
.t-button__width__380px {
  width: 380px;
}
.t-button__width__375px {
  width: 375px;
}
.t-button__width__370px {
  width: 370px;
}
.t-button__width__365px {
  width: 365px;
}
.t-button__width__360px {
  width: 360px;
}
.t-button__width__355px {
  width: 355px;
}
.t-button__width__350px {
  width: 350px;
}
.t-button__width__345px {
  width: 345px;
}
.t-button__width__340px {
  width: 340px;
}
.t-button__width__335px {
  width: 335px;
}
.t-button__width__330px {
  width: 330px;
}
.t-button__width__325px {
  width: 325px;
}
.t-button__width__320px {
  width: 320px;
}
.t-button__width__315px {
  width: 315px;
}
.t-button__width__310px {
  width: 310px;
}
.t-button__width__305px {
  width: 305px;
}
.t-button__width__300px {
  width: 300px;
}
.t-button__width__295px {
  width: 295px;
}
.t-button__width__290px {
  width: 290px;
}
.t-button__width__285px {
  width: 285px;
}
.t-button__width__280px {
  width: 280px;
}
.t-button__width__275px {
  width: 275px;
}
.t-button__width__270px {
  width: 270px;
}
.t-button__width__265px {
  width: 265px;
}
.t-button__width__260px {
  width: 260px;
}
.t-button__width__255px {
  width: 255px;
}
.t-button__width__250px {
  width: 250px;
}
.t-button__width__245px {
  width: 245px;
}
.t-button__width__240px {
  width: 240px;
}
.t-button__width__235px {
  width: 235px;
}
.t-button__width__230px {
  width: 230px;
}
.t-button__width__225px {
  width: 225px;
}
.t-button__width__220px {
  width: 220px;
}
.t-button__width__215px {
  width: 215px;
}
.t-button__width__210px {
  width: 210px;
}
.t-button__width__205px {
  width: 205px;
}
.t-button__width__200px {
  width: 200px;
}
.t-button__width__195px {
  width: 195px;
}
.t-button__width__190px {
  width: 190px;
}
.t-button__width__185px {
  width: 185px;
}
.t-button__width__180px {
  width: 180px;
}
.t-button__width__175px {
  width: 175px;
}
.t-button__width__170px {
  width: 170px;
}
.t-button__width__165px {
  width: 165px;
}
.t-button__width__160px {
  width: 160px;
}
.t-button__width__155px {
  width: 155px;
}
.t-button__width__150px {
  width: 150px;
}
.t-button__width__145px {
  width: 145px;
}
.t-button__width__140px {
  width: 140px;
}
.t-button__width__135px {
  width: 135px;
}
.t-button__width__130px {
  width: 130px;
}
.t-button__width__125px {
  width: 125px;
}
.t-button__width__120px {
  width: 120px;
}
.t-button__width__115px {
  width: 115px;
}
.t-button__width__110px {
  width: 110px;
}
.t-button__width__105px {
  width: 105px;
}
.t-button__width__100px {
  width: 100px;
}
.t-button__width__95px {
  width: 95px;
}
.t-button__width__90px {
  width: 90px;
}
.t-button__width__85px {
  width: 85px;
}
.t-button__width__80px {
  width: 80px;
}
.t-button__width__75px {
  width: 75px;
}
.t-button__width__70px {
  width: 70px;
}
.t-button__width__65px {
  width: 65px;
}
.t-button__width__60px {
  width: 60px;
}
.t-button__width__55px {
  width: 55px;
}
.t-button__width__50px {
  width: 50px;
}
