.c-switcher {
    font-size: 0;
    display: inline-block;
    white-space: nowrap;
    margin-left: 2px;
}

    .c-switcher .c-button,
    .c-switcher .c-button.-focus:hover {
        border-radius: 0;
        margin-left: -1px;

        min-width: 30px;

        vertical-align: top;
    }

    .c-switcher .c-button:before {
        border-radius: 0;
    }

        .c-switcher .c-button.-focus {
            z-index: 5;
            margin-left: -2px;
        }

        .c-switcher .c-button:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .c-switcher .c-button:first-child:before {
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
        }

        .c-switcher .c-button:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .c-switcher .c-button:last-child:before {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
        }

